<a href="https://colab.research.google.com/github/kay181/FraudDetectionCaseStudy/blob/main/Ibbagamuwa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
file_path = '/content/drive/My Drive/Final Research/Data set/Ibbagamuwa.xlsx'  # Update the path accordingly

data = pd.read_excel(file_path) # reading an Excel file

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   අනතුරු දර්ශකය               195 non-null    float64
 1   දිනය                        195 non-null    object
 2   සතියේ දිනය                  195 non-null    object
 3   වෙලාව                       195 non-null    object
 4   අනතුරේ බරපතලකම              195 non-null    object
 5   රියදුරුගේ වයස               196 non-null    int64
 6   රියදුරුගේ ලිංගිකත්වය        195 non-null    object
 7   මත්පැන් පරිභෝජනය            196 non-null    object
 8   හිස්වැසුම් භාවිතය           195 non-null    object
 9    වේගය                       196 non-null    object
 10  රිය බලපත්ර                  195 non-null    object
 11  රිය පැදවීමේ පළපුරුද්ද       195 non-null    object
 12  වාහන වර්ගය                  196 non-null    object
 13  වාහන රියදුරු සම්බන්ධය       195 non-null    object
 14  වාහනයේ සේවා_වසර             194 non-null    float64
 15  වාහන වයස සහ නඩත්තුව         195 non-null    object
 16  අනතුර_සිදු වූ ප්‍රදේශ       195 non-null    object
 17  මංතීරු_හෝ_මධ්‍යයන්          195 non-null    object
 18  හන්දි වර්ග                  194 non-null    object
 19  මාර්ග_මතුපිට_තත්වය          195 non-null    object
 20  ආලෝක_තත්වය                  195 non-null    object
 21  කාලගුණ_තත්වය                195 non-null    object
 22  ගැටීමේ_වර්ගය                195 non-null    object
 23  ගැටීම තත්වය                 195 non-null    object
 24  වාහන_චලනය                   195 non-null    object
 25  සම්බන්ධ වූ_වාහන_සංඛ්‍යාව    195 non-null    float64
 26  තුවාල ලැබූ පුද්ගලයින් ගණන   194 non-null    object
 27  ඝාතනය වූ පුද්ගලයන් ගණන      194 non-null    object
 28  අනතුරු_පංතිය                195 non-null    object
 29  පෙර කඩා වැටීමේ සාධක         195 non-null    object
 30  අනතුර_හේතුව                 195 non-null    object
 31  පදික_චලනය                   195 non-null    object
dtypes: float64(3), int64(1), object(28)
memory usage: 49.1+ KB
None

In [5]:
data.shape

(196, 32)

In [6]:
# Drop the last row
data = data.drop(data.index[-1])

# Print the shape to verify the last row is removed.
data.shape

(195, 32)

In [7]:
print(data.head())

   අනතුරු දර්ශකය         දිනය සතියේ දිනය  වෙලාව අනතුරේ බරපතලකම   \
0            1.0   2022'01'01   සෙනසුරාදා   600           බරපතල
1            2.0  2022.01.01    සෙනසුරාදා  1210           බරපතල
2            3.0   2022.01.03       සදුදා  1720           බරපතල
3            4.0  2022.01.09        ඉරිදා  1710      සුළු තුවාල
4            5.0   2022.01.12       සදුදා  1530           බරපතල

   රියදුරුගේ වයස       රියදුරුගේ ලිංගිකත්වය  මත්පැන් පරිභෝජනය   \
0                   41                 පුරුෂ               නැත
1                   46                 පුරුෂ               නැත
2                   18                 පුරුෂ               නැත
3                   30                 පුරුෂ                ඇත
4                   24                 පුරුෂ               නැත

  හිස්වැසුම් භාවිතය    වේගය  ... ගැටීමේ_වර්ගය          ගැටීම තත්වය වාහන_චලනය  \
0                නැත  නොදනි  ...          වාහන        පිටුපස ගැටිම    කෙලින්
1                නැත  නොදනි  ...          වාහන           දකුනට බරව  කෙලි න්
2                 ඇත  නොදනි  ...          වාහන        මුහුණට මුහුණ    කෙලින්
3                නැත  නොදනි  ...          වාහන        පිටුපස ගැටිම   කෙලින්
4                නැත  නොදනි  ...          වාහන           දකුණට බරව    කෙලින්

  සම්බන්ධ වූ_වාහන_සංඛ්‍යාව  තුවාල ලැබූ පුද්ගලයින් ගණන   \
0                      3.0                           2
1                      2.0                           1
2                      2.0                           1
3                      3.0                           2
4                      2.0                           2

  ඝාතනය වූ පුද්ගලයන් ගණන   අනතුරු_පංතිය  පෙර කඩා වැටීමේ සාධක   \
0                     NaN  රියදුරු,මගියා                නොදනි
1                     නැත       රියදුරු,                නොදනි
2                     නැත        පැදිකරු                නොදනි
3                     නැත          මගින්                නොදනි
4                     නැත  පැදිකරු,මගියා                නොදනි

        අනතුර_හේතුව       පදික_චලනය
0   නොසැලිකිලිමත්කම    පදිකයෙක්නොවේ
1  නොසැලිකිලිමත් කම    පදිකයෙක්නොවේ
2    නොසැලිකිලමත්කම   පදිකයෙක් නොවේ
3     නොසැලකිලිමත්   පදිකයෙක් නොවේ.
4   නොසැලිකිලිමත්කම  පදිකායක් නොවේ.

[5 rows x 32 columns]

In [8]:
numerical_data = data.select_dtypes(include=['number'])
numerical_cols = numerical_data.columns.tolist()
categorical_data = data.select_dtypes(exclude=['number'])
categorical_cols = categorical_data.columns.tolist()

print("Numerical Columns:", numerical_cols)
print("Categorical Columns:", categorical_cols)

Numerical Columns: ['අනතුරු දර්ශකය', 'රියදුරුගේ වයස      ', 'වාහනයේ සේවා_වසර', 'සම්බන්ධ වූ_වාහන_සංඛ්\u200dයාව']
Categorical Columns: ['දිනය', 'සතියේ දිනය ', 'වෙලාව', 'අනතුරේ බරපතලකම ', 'රියදුරුගේ ලිංගිකත්වය ', 'මත්පැන් පරිභෝජනය ', 'හිස්වැසුම් භාවිතය ', ' වේගය', 'රිය බලපත්ර ', 'රිය පැදවීමේ පළපුරුද්ද ', 'වාහන වර්ගය ', 'වාහන රියදුරු සම්බන්ධය ', 'වාහන වයස සහ නඩත්තුව', 'අනතුර_සිදු වූ ප්\u200dරදේශ ', 'මංතීරු_හෝ_මධ්\u200dයයන් ', 'හන්දි වර්ග ', 'මාර්ග_මතුපිට_තත්වය ', 'ආලෝක_තත්වය ', 'කාලගුණ_තත්වය ', 'ගැටීමේ_වර්ගය ', 'ගැටීම තත්වය', 'වාහන_චලනය', 'තුවාල ලැබූ පුද්ගලයින් ගණන ', 'ඝාතනය වූ පුද්ගලයන් ගණන ', 'අනතුරු_පංතිය ', 'පෙර කඩා වැටීමේ සාධක ', 'අනතුර_හේතුව', 'පදික_චලනය']

In [9]:
# Drop the column 'වේගය'
if ' වේගය' in data.columns:
    data = data.drop(' වේගය', axis=1)
    print("Column 'වේගය' dropped successfully.")
else:
    print("Column 'වේගය' not found in the DataFrame.")

Column 'වේගය' dropped successfully.

In [10]:
data.shape

(195, 31)

In [11]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   අනතුරු දර්ශකය               195 non-null    float64
 1   දිනය                        195 non-null    object
 2   සතියේ දිනය                  195 non-null    object
 3   වෙලාව                       195 non-null    object
 4   අනතුරේ බරපතලකම              195 non-null    object
 5   රියදුරුගේ වයස               195 non-null    int64
 6   රියදුරුගේ ලිංගිකත්වය        195 non-null    object
 7   මත්පැන් පරිභෝජනය            195 non-null    object
 8   හිස්වැසුම් භාවිතය           195 non-null    object
 9   රිය බලපත්ර                  195 non-null    object
 10  රිය පැදවීමේ පළපුරුද්ද       194 non-null    object
 11  වාහන වර්ගය                  195 non-null    object
 12  වාහන රියදුරු සම්බන්ධය       195 non-null    object
 13  වාහනයේ සේවා_වසර             194 non-null    float64
 14  වාහන වයස සහ නඩත්තුව         195 non-null    object
 15  අනතුර_සිදු වූ ප්‍රදේශ       195 non-null    object
 16  මංතීරු_හෝ_මධ්‍යයන්          195 non-null    object
 17  හන්දි වර්ග                  194 non-null    object
 18  මාර්ග_මතුපිට_තත්වය          195 non-null    object
 19  ආලෝක_තත්වය                  195 non-null    object
 20  කාලගුණ_තත්වය                195 non-null    object
 21  ගැටීමේ_වර්ගය                195 non-null    object
 22  ගැටීම තත්වය                 195 non-null    object
 23  වාහන_චලනය                   195 non-null    object
 24  සම්බන්ධ වූ_වාහන_සංඛ්‍යාව    195 non-null    float64
 25  තුවාල ලැබූ පුද්ගලයින් ගණන   194 non-null    object
 26  ඝාතනය වූ පුද්ගලයන් ගණන      194 non-null    object
 27  අනතුරු_පංතිය                195 non-null    object
 28  පෙර කඩා වැටීමේ සාධක         195 non-null    object
 29  අනතුර_හේතුව                 195 non-null    object
 30  පදික_චලනය                   195 non-null    object
dtypes: float64(3), int64(1), object(27)
memory usage: 47.4+ KB
None

duplicates

In [12]:
#check for duplicates
duplicates = data[data.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [අනතුරු දර්ශකය, දිනය, සතියේ දිනය , වෙලාව, අනතුරේ බරපතලකම , රියදුරුගේ වයස      , රියදුරුගේ ලිංගිකත්වය , මත්පැන් පරිභෝජනය , හිස්වැසුම් භාවිතය , රිය බලපත්ර , රිය පැදවීමේ පළපුරුද්ද , වාහන වර්ගය , වාහන රියදුරු සම්බන්ධය , වාහනයේ සේවා_වසර, වාහන වයස සහ නඩත්තුව, අනතුර_සිදු වූ ප්‍රදේශ , මංතීරු_හෝ_මධ්‍යයන් , හන්දි වර්ග , මාර්ග_මතුපිට_තත්වය , ආලෝක_තත්වය , කාලගුණ_තත්වය , ගැටීමේ_වර්ගය , ගැටීම තත්වය, වාහන_චලනය, සම්බන්ධ වූ_වාහන_සංඛ්‍යාව, තුවාල ලැබූ පුද්ගලයින් ගණන , ඝාතනය වූ පුද්ගලයන් ගණන , අනතුරු_පංතිය , පෙර කඩා වැටීමේ සාධක , අනතුර_හේතුව, පදික_චලනය]
Index: []

[0 rows x 31 columns]

Handling Missing Values

In [13]:
#finding missing values
missing_values_count = data.isnull().sum()
total_missing = data.isnull().sum().sum()
missing_percentage = (data.isnull().mean()) * 100

print("Missing Values Count Per Column:")
print(missing_values_count)
print("\nTotal Missing Values in Dataset:")
print(total_missing)
print("\nPercentage of Missing Values Per Column:")
print(missing_percentage)

Missing Values Count Per Column:
අනතුරු දර්ශකය                 0
දිනය                          0
සතියේ දිනය                    0
වෙලාව                         0
අනතුරේ බරපතලකම                0
රියදුරුගේ වයස                 0
රියදුරුගේ ලිංගිකත්වය          0
මත්පැන් පරිභෝජනය              0
හිස්වැසුම් භාවිතය             0
රිය බලපත්ර                    0
රිය පැදවීමේ පළපුරුද්ද         1
වාහන වර්ගය                    0
වාහන රියදුරු සම්බන්ධය         0
වාහනයේ සේවා_වසර               1
වාහන වයස සහ නඩත්තුව           0
අනතුර_සිදු වූ ප්‍රදේශ         0
මංතීරු_හෝ_මධ්‍යයන්            0
හන්දි වර්ග                    1
මාර්ග_මතුපිට_තත්වය            0
ආලෝක_තත්වය                    0
කාලගුණ_තත්වය                  0
ගැටීමේ_වර්ගය                  0
ගැටීම තත්වය                   0
වාහන_චලනය                     0
සම්බන්ධ වූ_වාහන_සංඛ්‍යාව      0
තුවාල ලැබූ පුද්ගලයින් ගණන     1
ඝාතනය වූ පුද්ගලයන් ගණන        1
අනතුරු_පංතිය                  0
පෙර කඩා වැටීමේ සාධක           0
අනතුර_හේතුව                   0
පදික_චලනය                     0
dtype: int64

Total Missing Values in Dataset:
5

Percentage of Missing Values Per Column:
අනතුරු දර්ශකය                 0.000000
දිනය                          0.000000
සතියේ දිනය                    0.000000
වෙලාව                         0.000000
අනතුරේ බරපතලකම                0.000000
රියදුරුගේ වයස                 0.000000
රියදුරුගේ ලිංගිකත්වය          0.000000
මත්පැන් පරිභෝජනය              0.000000
හිස්වැසුම් භාවිතය             0.000000
රිය බලපත්ර                    0.000000
රිය පැදවීමේ පළපුරුද්ද         0.512821
වාහන වර්ගය                    0.000000
වාහන රියදුරු සම්බන්ධය         0.000000
වාහනයේ සේවා_වසර               0.512821
වාහන වයස සහ නඩත්තුව           0.000000
අනතුර_සිදු වූ ප්‍රදේශ         0.000000
මංතීරු_හෝ_මධ්‍යයන්            0.000000
හන්දි වර්ග                    0.512821
මාර්ග_මතුපිට_තත්වය            0.000000
ආලෝක_තත්වය                    0.000000
කාලගුණ_තත්වය                  0.000000
ගැටීමේ_වර්ගය                  0.000000
ගැටීම තත්වය                   0.000000
වාහන_චලනය                     0.000000
සම්බන්ධ වූ_වාහන_සංඛ්‍යාව      0.000000
තුවාල ලැබූ පුද්ගලයින් ගණන     0.512821
ඝාතනය වූ පුද්ගලයන් ගණන        0.512821
අනතුරු_පංතිය                  0.000000
පෙර කඩා වැටීමේ සාධක           0.000000
අනතුර_හේතුව                   0.000000
පදික_චලනය                     0.000000
dtype: float64

mapping

In [14]:
# Dictionary for Sinhala to English conversion
sinhala_to_english = {
    'අනතුරු දර්ශකය': 'Accident_index',
    'දිනය': 'Date',
    'සතියේ දිනය ': 'Day_of_week',
    'වෙලාව': 'Time',
    'අනතුරේ බරපතලකම ': 'Accident_severity',
    'රියදුරුගේ වයස      ': 'Age_of_driver',
    'රියදුරුගේ ලිංගිකත්වය ': 'Sex_of_driver',
    'මත්පැන් පරිභෝජනය ': 'Consumption',
    'හිස්වැසුම් භාවිතය ': 'Helmet_Usage',
    'රිය බලපත්ර ': 'Licensing_and_enforcement',
    'රිය පැදවීමේ පළපුරුද්ද ': 'Driving_experience',
    'වාහන වර්ගය ': 'Type_of_vehicle',
    'වාහන රියදුරු සම්බන්ධය ': 'Vehical_driver_relation',
    'වාහනයේ සේවා_වසර': 'Service_year_of_vehicle',
    'වාහන වයස සහ නඩත්තුව': 'Vehicle_Age_and_Maintenance',
    'අනතුර_සිදු වූ ප්\u200dරදේශ ': 'Area_accident_occured',
    'මංතීරු_හෝ_මධ්\u200dයයන් ': 'Lanes_or_Medians',
    'හන්දි වර්ග ': 'Types_of_Junction',
    'මාර්ග_මතුපිට_තත්වය ': 'Road_surface_conditions',
    'ආලෝක_තත්වය ': 'Light_condition',
    'කාලගුණ_තත්වය ': 'Weather_condition',
    'ගැටීමේ_වර්ගය ': 'Type_of_collision',
    'ගැටීම තත්වය': 'Head_On_collision',
    'වාහන_චලනය': 'Vehicle_movement',
    'සම්බන්ධ වූ_වාහන_සංඛ්\u200dයාව': 'Number_of_vehicles_involved',
    'තුවාල ලැබූ පුද්ගලයින් ගණන ': 'Number_of_persons_injured',
    'ඝාතනය වූ පුද්ගලයන් ගණන ': 'Number_of_persons_killed ',
    'අනතුරු_පංතිය ': 'Casualty_class',
    'පෙර කඩා වැටීමේ සාධක ': 'Pre_crash_factors ',
    'අනතුර_හේතුව': 'Cause_of_accident',
    'පදික_චලනය': 'Pedestrian_movement'
}

# Rename columns in the DataFrame
data.rename(columns=sinhala_to_english, inplace=True)

In [15]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Accident_index               195 non-null    float64
 1   Date                         195 non-null    object
 2   Day_of_week                  195 non-null    object
 3   Time                         195 non-null    object
 4   Accident_severity            195 non-null    object
 5   Age_of_driver                195 non-null    int64
 6   Sex_of_driver                195 non-null    object
 7   Consumption                  195 non-null    object
 8   Helmet_Usage                 195 non-null    object
 9   Licensing_and_enforcement    195 non-null    object
 10  Driving_experience           194 non-null    object
 11  Type_of_vehicle              195 non-null    object
 12  Vehical_driver_relation      195 non-null    object
 13  Service_year_of_vehicle      194 non-null    float64
 14  Vehicle_Age_and_Maintenance  195 non-null    object
 15  Area_accident_occured        195 non-null    object
 16  Lanes_or_Medians             195 non-null    object
 17  Types_of_Junction            194 non-null    object
 18  Road_surface_conditions      195 non-null    object
 19  Light_condition              195 non-null    object
 20  Weather_condition            195 non-null    object
 21  Type_of_collision            195 non-null    object
 22  Head_On_collision            195 non-null    object
 23  Vehicle_movement             195 non-null    object
 24  Number_of_vehicles_involved  195 non-null    float64
 25  Number_of_persons_injured    194 non-null    object
 26  Number_of_persons_killed     194 non-null    object
 27  Casualty_class               195 non-null    object
 28  Pre_crash_factors            195 non-null    object
 29  Cause_of_accident            195 non-null    object
 30  Pedestrian_movement          195 non-null    object
dtypes: float64(3), int64(1), object(27)
memory usage: 47.4+ KB
None

In [16]:
numerical_data = data.select_dtypes(include=['number'])
numerical_cols = numerical_data.columns.tolist()
categorical_data = data.select_dtypes(exclude=['number'])
categorical_cols = categorical_data.columns.tolist()

print("Numerical Columns:", numerical_cols)
print("Categorical Columns:", categorical_cols)

Numerical Columns: ['Accident_index', 'Age_of_driver', 'Service_year_of_vehicle', 'Number_of_vehicles_involved']
Categorical Columns: ['Date', 'Day_of_week', 'Time', 'Accident_severity', 'Sex_of_driver', 'Consumption', 'Helmet_Usage', 'Licensing_and_enforcement', 'Driving_experience', 'Type_of_vehicle', 'Vehical_driver_relation', 'Vehicle_Age_and_Maintenance', 'Area_accident_occured', 'Lanes_or_Medians', 'Types_of_Junction', 'Road_surface_conditions', 'Light_condition', 'Weather_condition', 'Type_of_collision', 'Head_On_collision', 'Vehicle_movement', 'Number_of_persons_injured', 'Number_of_persons_killed ', 'Casualty_class', 'Pre_crash_factors ', 'Cause_of_accident', 'Pedestrian_movement']

In [17]:
# Display unique values for all columns
for column in numerical_cols + categorical_cols:
    if column in data.columns:
        # Check if the selected data is a Series
        if isinstance(data[column], pd.Series):
            print(f"Unique values for '{column}': {data[column].unique()}\n")
        else:
            print(f"Skipping '{column}' as it's not a Series.\n")
    else:
        print(f"Column '{column}' not found in the dataset.\n")

Unique values for 'Accident_index': [  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.
  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.  28.
  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.  42.
  43.  44.  45.  46.  47.  48.  49.  50.  51.  52.  53.  54.  55.  56.
  57.  58.  59.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.  70.
  71.  72.  73.  74.  75.  76.  77.  78.  79.  80.  81.  82.  83.  84.
  85.  86.  87.  88.  89.  90.  91.  92.  93.  94.  95.  96.  97.  98.
  99. 100.]

Unique values for 'Age_of_driver': [41 46 18 30 24 25 20 53 31 43 48 44 23 47 35 29 45 55 39 32 26 28 27 21
 67 36 19 54 59 42 69 38 52 49 34 56 22 37 40 57 51 16 75 62 33 15 58 64
 70 60]

Unique values for 'Service_year_of_vehicle': [2015. 2016. 2018. 2008. 2010. 2007. 1992. 2012. 2019. 2020. 2017. 1988.
 2009. 2000. 2005. 1990. 1993. 2013. 2014. 2011. 1998. 2006. 1978. 1997.
 1994. 1996. 1970.   nan]

Unique values for 'Number_of_vehicles_involved': [3. 2. 1.]

Unique values for 'Date': ["2022'01'01" '2022.01.01 ' '2022.01.03' '2022.01.09 ' '2022.01.12'
 '2022.01.13' '2022.01.17' '2022.01.22 ' '2022.01.23' '2022.01.24'
 '2022.01.25' '2022.01.30' "2022'01'31" '2022.02.04' '2022.02.11'
 '2022.02.15' '2022.02.22' '2022.02.23' '2022.02.24' '2022.02.25'
 '2022.02.27' '2022.03.06' '2022.03.25' '2022.03.07' '2022.03.13'
 '2022.03.14' '2022.03.20' '2022.03.21' '2022.03.23' '2022.03.29'
 '2022.03.26' '2022.03.31' '2022.04.02' '2022.04.08' '2022.04.11'
 '2022.04.10' '2022.04.19' '2022.05.02' '2022.05.05' '2022.05.6'
 '2022.05.06' '2022.05.15' '2022.05.29' '2022.06.05' '2022.06.06'
 '2022.06.02' '2022.06.03' '2022.06.02.' '2022.06.16' '2022.06.15'
 '2022.06.20' '2022.06.25' '2022.06.29' '2022.08.01' '2022.08.06'
 '2022.08.08' '2022.08.10' '2022.08.16' '2022.08.17' '2022.08.18'
 '2022.08.20' '2022.08.26' '2022.08.29' '2022.08.30' '2022.09.03'
 '2022.09.05' '2022.09.12' '2022.09.21' '2022.09.23' '2022.10.04'
 '2022.10.10' '2022.10.12' '2022.10.25' '2022.11.12' '2022.11.15'
 '2022.11.22' '2022.11.25' '2022.11.28' '2022.12.01' '2022.12.05'
 '2022.12.11' '2022.12.12' '2022.12.17' '2022.12.22' '2022.12.29'
 '2022.12.30' '2023.01.01' '2023.01.11' '2023.01.13' '2023.01.15'
 '2023.01.16' '2023.02.01' '2023.02.4' '2023.02.05' '2023.02.13'
 '2023.02.18' '2023.02.17' '2023.02.19' '2023.02.22' '2023.02.25'
 '2023.03.02' '2023.03.03' '2023.03.05' '2023.03.07' '2023.03.10'
 '2023.03.11' '2023.03.13' '2023.03.14' '2023.03.15' '2023.03.24'
 '2023.03.27' '2023.04.02' '2023.04.09' '2023.04.13' '2023.04.15'
 '2023.04.16' '2023.04.21' '2023.04.30' '2023.05.08' '2023.05.18'
 '2023.05.22' '2023.05.23' '2023.05.21' '2023.05.29' '2023.05.31'
 '2023.06.01' '2023.06.03' '2023.06.12' '2023.06.14' '2023.06.21'
 '2023.06.23' '2023.06.28' '2023.06.29.' '2023.06.29' '2023.06.30'
 '2023.07.04' '2023.07.13' '2023.07.16' '2023.07.22' '2023.07.25'
 '2023.08.01' '2023.08.07' '2023.08.08' '2023.08.22' '2023.08.25'
 '2023.09.03' '2023.09.08' '2023.09.14' '2023.09.22' '2023.09.26'
 '2023.09.27' '2023.09.28' '2023.09.30' '2023.10.08.' '2023.10.13'
 '2023.10.14' '2023.10.22' '2023.10.23' '2023.10.28' '2023.11.05'
 '2023.11.09' '2023.11.06' '2023.11.14' '2023.11.18' '2023.11.25'
 '2023.11.27' '2023.11.29' '2023.12.06' '2023.12.11' '2023.12.25'
 '2023.12.28']

Unique values for 'Day_of_week': ['සෙනසුරාදා' 'සදුදා' 'ඉරිදා' 'බ්\u200dරහස්පතින්දා' 'අගරුවාදා' 'සිකුරාදා'
 ' බදාදා']

Unique values for 'Time': [600 1210 1720 1710 1530 620 1630 2315 2339 2210 1815 1610 1230 2045 1745
 1830 1619 1750 1455 1430 1620 1300 1400 2330 420 745 2130 450 350 30 1050
 1715 100 1730 1700 1100 1925 1330 1445 1850 1945 1930 2000 1900 800 1025
 400 141 '18/10' '13/30' '20/05' '18/45' '19/10' '21/45' '17/30'
 datetime.datetime(1901, 6, 28, 0, 0) 1820 1615 520 1200 2015 1345 1605
 1805 2105 2010 1420 2040 1335 1650 1225 2400 1130 2050 2020 510 1145 1840
 1415 '00/40' datetime.datetime(2012, 7, 10, 0, 0)
 datetime.datetime(2000, 8, 1, 0, 0) 1520 1000 1940 1525 2030 1755 2215
 1800 1350 942 1510 730 200 345 1600 1845 120 640 810 1015 715 1950 2150
 1935 1410 930 1030 2230 2335 820 1910 2310 700 1135 1543 1020 1810 1855
 1435 2115 1245 2250 515 215 1500 1645]

Unique values for 'Accident_severity': ['බරපතල' 'සුළු තුවාල' 'බරපතල ' 'මාරක' 'බරපතලතුවාල' 'බරපතල තුවාල' ' අලාබ'
 'අලාබ']

Unique values for 'Sex_of_driver': ['පුරුෂ']

Unique values for 'Consumption': ['නැත' 'ඇත']

Unique values for 'Helmet_Usage': ['නැත' 'ඇත']

Unique values for 'Licensing_and_enforcement': ['ඇත' 'නැත']

Unique values for 'Driving_experience': ['2-5 අතර' nan '2.-.5 අතර' '01-06 අතර' '01-20 අතර' '01-10 අතර' '2-7 අතර'
 '10-15 අතර' '10-20 අතර' '2-10 අතර' '2-8 අතර' '1-3 අතර' '5-20 අතර'
 '1 පමණි' '1යි' '4යි' '2යි' 'මාස 3' 'නැත' '5-30 අතර']

Unique values for 'Type_of_vehicle': ['ලොරි' 'ත්\u200dරිවිල්' 'ය/පැ' 'කාර්' 'ටිපර්' 'වැන්' 'වෑන්' 'කැබ්'
 'යැ/පැ' 'බස්' 'බට්ටා ලොරි' 'බව්සර්' 'කන්ටේනර්' 'ඩිමේ බට්ටා ලොරි'
 'සැ/ ලොරි']

Unique values for 'Vehical_driver_relation': ['සේවකයා' 'හිමිකරු' 'හිමිකරුගේ දරුවා']

Unique values for 'Vehicle_Age_and_Maintenance': ['7 හොදයි' '8,හොදයි' '07,හොදයි' '4,හොදයි' '14,හොදයි' '12,හොදයි' '15,හොදයි'
 '30,නොදනි' '04,හොදයි' '12 ,සාමාන්\u200dය' '03 ,හොදයි' '06 හොදයි'
 '14 හොදයි' '05 හොදයි' '08 හොදයි' '36 සාමාණ්\u200dයයි'
 '15 සාමාන්\u200dයයි' '24 සාමාන්\u200dයයි' '16 සාමාන්\u200dයයි' '36 නොදනී'
 '19 හොදයි' '34 නොදනී' '09 හොදයි' '31 නොදනී' '11 සාමාන්\u200dයයි'
 '14 සාමාන්\u200dයයි' '19 සාමාන්\u200dයයි' '10 හොදයි' '13 සාමාන්\u200dයයි'
 '26 නොදනී' '12 හොදයි' '18 සාමාන්\u200dයයි' '15 හොදයි' '46 නොදනී'
 '17 සාමාන්\u200dයයි' '27 නොදනි' '30 නොදනී' '13 හොදයි' '04 හොදයි'
 '12 සාමාන්\u200dය' '24 නොදනි' '28 නොදනී' '24 නෙදනි' '54 නොදනි']

Unique values for 'Area_accident_occured': ['ඉපලව' 'දරමිටිපොල ' 'ගොඩගම' 'ගොකරැල්ල' 'යකල්ල' '15 කණුව' 'මැද්දෙකැටිය'
 'ඉබ්බාගමුව' 'පන්නල' 'රත්විට' '13 කණුව' 'කරදගොල්ල හන්දිය'
 'දැදුරුඔය පාලම අසල' 'කුඩාඹය පාලම අසල' 'මි වැව දේවාලය අසල' 'පාන්ගොල්ල '
 'නාමල්ලංග' 'තල්ගොඩපිටිය' 'පොල්ගොල්ල' 'දෙහෙල්ගමුව' 'වල්පොල පාර' 'අඹන්පොල'
 'පැලකුබුර' 'බක්මීගොල්ල' 'බලවත්තල' 'උඩවෙල' 'රණවිරුගම පාර' 'කරදගොල්ල '
 'ගොපල්ලව පාර' 'මඩගල්ල පාර' 'සියබලා වැහැර' 'බතලගොඩ වැව පාර' '15 කනුව'
 'කලුගමුව' 'මුදුන්දුව' 'කිබුල්වානා වැව පාර' 'වල්පොල' 'උඩතම්මිට' 'කරව්වැව']

Unique values for 'Lanes_or_Medians': ['මාර්ග සලකුණු සහිතව බෙදා ඇත' ' එම' 'නැත' 'මාර්ග සකුනු සහිතබෙදා ඇත' 'එම'
 'මාර්ගසලකුණු සහිතව බෙදා ඇත.' 'මාර්ග සලකුනු සහිත බෙදා ඇත']

Unique values for 'Types_of_Junction': ['නැත' nan ' නැත' 'ඇත']

Unique values for 'Road_surface_conditions': ['වියලි' 'තෙත්' 'වර්සාව']

Unique values for 'Light_condition': ['දිවා ආලෝකය' 'දිවා ආලොක්ය' 'දිවා ආලේකය' 'දිවා ආලොෝකය' 'විදි ආලේකය නැත'
 'විධි ආලෝකය ඇත']

Unique values for 'Weather_condition': ['නොදන්නා' 'නොදනි' 'වැසි']

Unique values for 'Type_of_collision': ['වාහන' 'පෙරලිමෙන්' 'පදිකයින්' 'පදකයා' 'මගියා' 'පදික කාන්තාව' 'පා පැදි'
 'පදිකයා']

Unique values for 'Head_On_collision': ['පිටුපස ගැටිම' 'දකුනට බරව' 'මුහුණට මුහුණ' '         දකුණට බරව'
 'දකුණට බරව' 'හැරවිමට යාමේදි' 'පෙරලිමෙන්' 'හැරවිමේදි' 'පසුපස ගැටිම'
 'මාර්ගයෙන් ඉවතට ගොස්' 'දකුණු පසට හැරවීමේදී' 'පා පුවරුවේ ගමන්ගත්']

Unique values for 'Vehicle_movement': ['කෙලින්' 'කෙලි න් ' 'කෙලින් ' 'වංගු සහිත' 'දකුණට බරව' 'වමට බරව']

Unique values for 'Number_of_persons_injured': [2 1 nan 'නැත' 3 6 ' නැත' 14]

Unique values for 'Number_of_persons_killed ': [nan 'නැත' 1 'ඇත']

Unique values for 'Casualty_class': ['රියදුරු,මගියා' 'රියදුරු,' 'පැදිකරු' 'මගින්' 'පැදිකරු,මගියා'
 'පැදිකරු/පසුපැදිකරු' 'රියදුරු' 'පැදකරු' 'පදිකයා' 'යතුරුපැදිකරු' 'ය/පැකරු'
 'වාහන අලාභ' 'රියදුරු සහ මගීන්' 'මගියා' 'පදිකයින්' 'රිය සහයකයා'
 'රියදුරු/මගියා' 'ත්\u200dරිවීල් පැදිකරු' 'මගීන්' 'පාපැදිකරු' 'පැදිකරුවන්'
 'රියදුරු /මගියා/රිය සහයක' 'ය/පැදිකරු' 'පදික කාන්තාව' 'අලාභ' 'පා/පැදිකරු'
 'රියසහයක' 'පසුපැදිකරු' 'නැත' 'ඇත']

Unique values for 'Pre_crash_factors ': ['නොදනි' 'නොදන්නා']

Unique values for 'Cause_of_accident': ['නොසැලිකිලිමත්කම' 'නොසැලිකිලිමත් කම' 'නොසැලිකිලමත්කම' 'නොසැලකිලිමත් '
 'නොසැලිකිලිමත්']

Unique values for 'Pedestrian_movement': ['පදිකයෙක්නොවේ' 'පදිකයෙක් නොවේ' 'පදිකයෙක් නොවේ.' 'පදිකායක් නොවේ.'
 'පදකයෙක්නොවේ' 'වෙනත්' 'පද්කයෙක් නොවේ' 'පදිකයෙක්' 'පදිකයින්'
 'පදික කාන්තාව']

In [18]:
# Mapping dictionary
sinhala_to_english_map = {
    'ඇත': 'Yes',
    'නැත': 'No',
    ' නැත':'No'
}

# Apply the mapping to the desired columns
columns_to_map = ['Helmet_Usage', 'Consumption','Licensing_and_enforcement','Types_of_Junction']

for column in columns_to_map:
    if column in data.columns:
        data[column] = data[column].map(sinhala_to_english_map)

In [19]:
for column in columns_to_map:
    if column in data.columns:
        print(f"Unique values for '{column}': {data[column].unique()}\n")
    else:
        print(f"Column '{column}' not found in the dataset.\n")

Unique values for 'Helmet_Usage': ['No' 'Yes']

Unique values for 'Consumption': ['No' 'Yes']

Unique values for 'Licensing_and_enforcement': ['Yes' 'No']

Unique values for 'Types_of_Junction': ['No' nan 'Yes']

In [20]:
category_mapping_Day_of_week = {
    'සෙනසුරාදා': 'Saturday',
    'සදුදා' : 'Monday',
    'ඉරිදා': 'Sunday',
    'බ්\u200dරහස්පතින්දා': 'wednesday',
    'අගරුවාදා': 'Tuesday',
    'සිකුරාදා':'Friday',
    ' බදාදා':'Wednesday'
}

# Map values in 'Day of week' column to the specified categories
data['Day_of_week'] = data['Day_of_week'].map(category_mapping_Day_of_week)

In [21]:
data['Day_of_week'].unique()

array(['Saturday', 'Monday', 'Sunday', 'wednesday', 'Tuesday', 'Friday',
       'Wednesday'], dtype=object)

In [22]:
category_mapping_Cause_of_accident = {
    'නොසැලිකිලිමත්කම':'negligence',
    'නොසැලිකිලිමත් කම':'negligence',
    'නොසැලිකිලමත්කම':'negligence',
    'නොසැලකිලිමත් ':'negligence',
    'නොසැලිකිලිමත්':'negligence'
}

# Map values in 'Cause_of_accident' column to the specified categories
data['Cause_of_accident'] = data['Cause_of_accident'].map(category_mapping_Cause_of_accident)

In [23]:
data['Cause_of_accident'].unique()

array(['negligence'], dtype=object)

In [24]:
category_mapping_Pedestrian_movement = {
    'පදිකයෙක්නොවේ':'Not a pedestrian',
    'පදිකයෙක් නොවේ':'Not a pedestrian',
    'පදිකයෙක් නොවේ.':'Not a pedestrian',
    'පදිකායක් නොවේ.':'Not a pedestrian',
    'පදකයෙක්නොවේ':'Not a pedestrian',
    'වෙනත්' :'other',
    'පද්කයෙක් නොවේ':'Not a pedestrian',
    'පදිකයෙක්':'a pedestrian',
    'පදිකයින්':'a pedestrian',
    'පදික කාන්තාව':'woman'
}

# Map values in 'Pedestrian_movement' column to the specified categories
data['Pedestrian_movement'] = data['Pedestrian_movement'].map(category_mapping_Pedestrian_movement)

In [25]:
data['Pedestrian_movement'].unique()

array(['Not a pedestrian', 'other', 'a pedestrian', 'woman'], dtype=object)

In [26]:
category_mapping_Pre_crash_factors = {
    'නොදනි':'unknown',
    'නොදන්නා':'unknown'
}

# Map values in 'Pre_crash factors ' column to the specified categories
data['Pre_crash_factors '] = data['Pre_crash_factors '].map(category_mapping_Pre_crash_factors)

In [27]:
data['Pre_crash_factors '].unique()

array(['unknown'], dtype=object)

In [28]:
category_mapping_Weather_condition = {
    'නොදන්නා':'unknown',
    'නොදනි':'unknown',
    'වැසි':'rainy'
}

# Map values in 'Weather_condition' column to the specified categories
data['Weather_condition'] = data['Weather_condition'].map(category_mapping_Weather_condition)

In [29]:
data['Weather_condition'].unique()

array(['unknown', 'rainy'], dtype=object)

In [30]:
category_mapping_Light_condition = {
    'දිවා ආලෝකය':'Daylight',
    'දිවා ආලොක්ය':'Daylight',
    'දිවා ආලේකය':'Daylight',
    'දිවා ආලොෝකය':'Daylight',
    'විදි ආලේකය නැත':'No Street Light',
     'විධි ආලෝකය ඇත':'Good Street Light'
}

# Map values in 'Light_condition' column to the specified categories
data['Light_condition'] = data['Light_condition'].map(category_mapping_Light_condition)

In [31]:
data['Light_condition'].unique()

array(['Daylight', 'No Street Light', 'Good Street Light'], dtype=object)

In [32]:
category_mapping_Road_surface_conditions = {
    'වියලි':'Dry',
    'තෙත්':'Wet',
    'වර්සාව':'Flooded with water'
}

# Map values in 'Road_surface_conditions' column to the specified categories
data['Road_surface_conditions'] = data['Road_surface_conditions'].map(category_mapping_Road_surface_conditions)

In [33]:
data['Road_surface_conditions'].unique()

array(['Dry', 'Wet', 'Flooded with water'], dtype=object)

In [34]:
category_mapping_Sex_of_driver = {
    'පුරුෂ':'Male'
}

# Map values in 'Sex of driver' column to the specified categories
data['Sex_of_driver'] = data['Sex_of_driver'].map(category_mapping_Sex_of_driver)

In [35]:
data['Sex_of_driver'].unique()

array(['Male'], dtype=object)

In [36]:
category_mapping_Vehical_driver_relation = {
    'සේවකයා':'Employee',
    'හිමිකරු' :'Owner',
    'හිමිකරුගේ දරුවා':'other'
}

# Map values in 'Vehical driver relation' column to the specified categories
data['Vehical_driver_relation'] = data['Vehical_driver_relation'].map(category_mapping_Vehical_driver_relation)

In [37]:
data['Vehical_driver_relation'].unique()

array(['Employee', 'Owner', 'other'], dtype=object)

In [38]:
category_mapping_Accident_severity = {
    'බරපතල':'Serious',
    'සුළු තුවාල':'Minor Injuries',
    'බරපතල ':'Serious',
    'මාරක':'Fatal',
    'බරපතලතුවාල':'Serious',
    'බරපතල තුවාල':'Serious',
    ' අලාබ':'Damaged',
    'අලාබ':'Damaged'
}

# Map values in 'Accident severity' column to the specified categories
data['Accident_severity'] = data['Accident_severity'].map(category_mapping_Accident_severity)

In [39]:
data['Accident_severity'].unique()

array(['Serious', 'Minor Injuries', 'Fatal', 'Damaged'], dtype=object)

In [40]:
category_mapping_Type_of_vehicle = {
    'ලොරි':'lorry',
    'ත්\u200dරිවිල්':'Three wheel',
    'ය/පැ':'Moter bike',
    'කාර්':'car',
    'ටිපර්':'Tipper',
    'වැන්':'Van',
    'වෑන්':'Van',
    'කැබ්':'Van',
    'යැ/පැ':'Moter bike',
    'බස්':'Bus',
    'බට්ටා ලොරි':'lorry',
    'බව්සර්':'Bowser',
    'කන්ටේනර්':'Container',
    'ඩිමේ බට්ටා ලොරි':'lorry',
    'සැ/ ලොරි':'lorry'
}

# Map values in 'Type_of_vehicle' column to the specified categories
data['Type_of_vehicle'] = data['Type_of_vehicle'].map(category_mapping_Type_of_vehicle)

In [41]:
data['Type_of_vehicle'].unique()

array(['lorry', 'Three wheel', 'Moter bike', 'car', 'Tipper', 'Van',
       'Bus', 'Bowser', 'Container'], dtype=object)

In [42]:
category_mapping_Lanes_or_Medians = {
    'මාර්ග සලකුණු සහිතව බෙදා ඇත':'Two-way',
    ' එම':'Two-way',
    'නැත' :'Undivided',
    'මාර්ග සකුනු සහිතබෙදා ඇත':'Two-way',
    'එම':'Two-way',
    'මාර්ගසලකුණු සහිතව බෙදා ඇත.':'Two-way',
    'මාර්ග සලකුනු සහිත බෙදා ඇත':'Two-way'
}

# Map values in 'Lanes_or_Medians' column to the specified categories
data['Lanes_or_Medians'] = data['Lanes_or_Medians'].map(category_mapping_Lanes_or_Medians)

In [43]:
data['Lanes_or_Medians'].unique()

array(['Two-way', 'Undivided'], dtype=object)

In [44]:
category_mapping_Type_of_collision = {
    'වාහන':'Vehicle with vehicle collision',
    'පෙරලිමෙන්':'Rollover',
    'පදිකයින්':'Collision with pedestrians',
    'පදකයා':'Collision with pedestrians',
    'මගියා':'Collision with pedestrians',
    'පදික කාන්තාව':'Collision with pedestrians',
    'පා පැදි':'Vehicle with vehicle collision',
    'පදිකයා':'Collision with pedestrians'
}

# Map values in 'Type_of_collision' column to the specified categories
data['Type_of_collision'] = data['Type_of_collision'].map(category_mapping_Type_of_collision)

In [45]:
data['Type_of_collision'].unique()

array(['Vehicle with vehicle collision', 'Rollover',
       'Collision with pedestrians'], dtype=object)

In [46]:
category_mapping_Head_On_collision = {
    'පිටුපස ගැටිම':'Back bump',
    'දකුනට බරව':'Heavy to the right',
    'මුහුණට මුහුණ':'Face to face',
    '         දකුණට බරව':'Heavy to the right',
    'දකුණට බරව':'Heavy to the right',
    'හැරවිමට යාමේදි':'Turning',
    'පෙරලිමෙන්':'Overturning',
    'හැරවිමේදි':'Turning',
    'පසුපස ගැටිම':'Back bump',
    'මාර්ගයෙන් ඉවතට ගොස්':'Going off the road',
    'දකුණු පසට හැරවීමේදී':'Turning right',
    'පා පුවරුවේ ගමන්ගත්':'Walking on the footboard'
}

# Map values in 'Head_On_collision' column to the specified categories
data['Head_On_collision'] = data['Head_On_collision'].map(category_mapping_Head_On_collision)

In [47]:
data['Head_On_collision'].unique()

array(['Back bump', 'Heavy to the right', 'Face to face', 'Turning',
       'Overturning', 'Going off the road', 'Turning right',
       'Walking on the footboard'], dtype=object)

In [48]:
category_mapping_Vehicle_movement = {
    'කෙලින්':'Going straight',
    'කෙලි න් ':'Going straight',
    'කෙලින් ':'Going straight',
    'වංගු සහිත':'winding',
    'දකුණට බරව':'Right Heavily',
    'වමට බරව':'Left Heavily'
}

# Map values in 'Vehicle_movement' column to the specified categories
data['Vehicle_movement'] = data['Vehicle_movement'].map(category_mapping_Vehicle_movement)

In [49]:
data['Vehicle_movement'].unique()

array(['Going straight', 'winding', 'Right Heavily', 'Left Heavily'],
      dtype=object)

In [50]:
category_mapping_Number_of_persons_killed  = {
    'නැත':0 ,
    1:1 ,
    'ඇත':'Have'
}

# Map values in 'Number_of_persons_killed ' column to the specified categories
data['Number_of_persons_killed '] = data['Number_of_persons_killed '].map(category_mapping_Number_of_persons_killed )

In [51]:
data['Number_of_persons_killed '].unique()

array([nan, 0, 1, 'Have'], dtype=object)

In [52]:
category_mapping_Number_of_persons_injured  = {
    'නැත':0 ,
    ' නැත':0,
    1:1 ,
    2:2,
    3:3,
    6:6,
    14:14
}

# Map values in 'Number_of_persons_injured' column to the specified categories
data['Number_of_persons_injured'] = data['Number_of_persons_injured'].map(category_mapping_Number_of_persons_injured )

In [53]:
data['Number_of_persons_injured'].unique()

array([ 2.,  1., nan,  0.,  3.,  6., 14.])

In [54]:
category_mapping_Casualty_class = {
    'රියදුරු,මගියා':'Driver and passengers',
    'රියදුරු,':'Driver',
    'පැදිකරු':'motorcyclist',
    'මගින්':'Passenger',
    'පැදිකරු,මගියා':'Driver and passengers',
    'පැදිකරු/පසුපැදිකරු':'motorcyclist',
    'රියදුරු':'Driver',
    'පැදකරු':'motorcyclist',
    'පදිකයා':'Pedestrian',
    'යතුරුපැදිකරු':'motorcyclist',
    'ය/පැකරු':'motorcyclist',
    'වාහන අලාභ':'damage',
    'රියදුරු සහ මගීන්':'Driver and passengers',
    'මගියා':'Passenger',
    'පදිකයින්':'Pedestrian',
    'රිය සහයකයා':'Driver Assistant',
    'රියදුරු/මගියා':'Driver and passengers',
    'ත්\u200dරිවීල් පැදිකරු':'Driver',
    'මගීන්':'Passenger',
    'පාපැදිකරු':'motorcyclist',
    'පැදිකරුවන්':'motorcyclist',
    'රියදුරු /මගියා/රිය සහයක':'Driver and passengers',
    'ය/පැදිකරු':'motorcyclist',
    'පදික කාන්තාව':'Pedestrian',
    'අලාභ':'damage',
    'පා/පැදිකරු':'motorcyclist',
    'රියසහයක':'Driver Assistant',
    'පසුපැදිකරු':'motorcyclist',
    'නැත':'Yes',
    'ඇත':'No'
}

# Map values in 'Casualty_class' column to the specified categories
data['Casualty_class'] = data['Casualty_class'].map(category_mapping_Casualty_class)

In [55]:
data['Casualty_class'].unique()

array(['Driver and passengers', 'Driver', 'motorcyclist', 'Passenger',
       'Pedestrian', 'damage', 'Driver Assistant', 'Yes', 'No'],
      dtype=object)

In [56]:
category_mapping_Driving_experience = {
    '2-5 අතර':'2-5',
    '2.-.5 අතර':'2-5',
    '01-06 අතර':'1-6',
    '01-20 අතර':'1-20',
    '01-10 අතර':'1-10',
    '2-7 අතර':'2-7',
    '10-15 අතර':'10-15',
    '10-20 අතර':'10-20',
    '2-10 අතර':'2-10',
    '2-8 අතර':'2-8',
    '1-3 අතර':'1-3',
    '5-20 අතර':'5-20',
    '1 පමණි':'1',
    '1යි':'1',
    '4යි':'4',
    '2යි':'2',
    'මාස 3':'0-1',
    'නැත':'0',
    '5-30 අතර':'5-30'
}

# Map values in 'Driving_experience' column to the specified categories
data['Driving_experience'] = data['Driving_experience'].map(category_mapping_Driving_experience)

In [57]:
data['Driving_experience'].unique()

array(['2-5', nan, '1-6', '1-20', '1-10', '2-7', '10-15', '10-20', '2-10',
       '2-8', '1-3', '5-20', '1', '4', '2', '0-1', '0', '5-30'],
      dtype=object)

In [58]:
import re

def clean_and_map_vehicle_age(value):
    if pd.isna(value):
        return None  # Handle NaN values appropriately

    # Remove Sinhala characters and whitespace
    cleaned_value = re.sub(r'[^\d,]', '', str(value))

    # Split the string based on ',' and extract the numeric part
    parts = cleaned_value.split(',')
    if len(parts) > 0:
        numeric_part = parts[0].strip()  # Assuming the first part is the numeric value
        if numeric_part:
            try:
                return int(numeric_part)  # Convert to integer
            except ValueError:
                return None  # Handle cases with non-numeric values
    return None

# Apply the function to the 'Vehicle_Age_and_Maintenance' column
data['Vehicle_Age_and_Maintenance'] = data['Vehicle_Age_and_Maintenance'].apply(clean_and_map_vehicle_age)

In [59]:
data['Vehicle_Age_and_Maintenance'].unique()

array([ 7,  8,  4, 14, 12, 15, 30,  3,  6,  5, 36, 24, 16, 19, 34,  9, 31,
       11, 10, 13, 26, 18, 46, 17, 27, 28, 54])

In [60]:
# Define the mapping dictionary for Area_accident_occured
area_mapping = {
    'ඉපලව': 'Ipalawa',
    'දරමිටිපොල': 'Daramitipola',
    'ගොඩගම': 'Godagama',
    'ගොකරැල්ල': 'Gokarella',
    'යකල්ල': 'Yakkalla',
    '15 කණුව': '15th Mile Post',
    'මැද්දෙකැටිය': 'Meddekatiya',
    'ඉබ්බාගමුව': 'Ibbagamuwa',
    'පන්නල': 'Pannala',
    'රත්විට': 'Rathwita',
    '13 කණුව': '13th Mile Post',
    'කරදගොල්ල හන්දිය': 'Karadagolla Junction',
    'දැදුරුඔය පාලම අසල': 'Near Deduru Oya Bridge',
    'කුඩාඹය පාලම අසල': 'Near Kudambe Bridge',
    'මි වැව දේවාලය අසල': 'Near Miwewa Temple',
    'පාන්ගොල්ල': 'Pangolla',
    'නාමල්ලංග': 'Namallanga',
    'තල්ගොඩපිටිය': 'Thalgodapitiya',
    'පොල්ගොල්ල': 'Polgolla',
    'දෙහෙල්ගමුව': 'Dehelgamuwa',
    'වල්පොල පාර': 'Walpola Road',
    'අඹන්පොල': 'Ambanpola',
    'පැලකුබුර': 'Palakubura',
    'බක්මීගොල්ල': 'Bakmigolla',
    'බලවත්තල': 'Balawathtala',
    'උඩවෙල': 'Udawela',
    'රණවිරුගම පාර': 'Ranawirugama Road',
    'කරදගොල්ල': 'Karadagolla',
    'ගොපල්ලව පාර': 'Gopallawa Road',
    'මඩගල්ල පාර': 'Madagalla Road',
    'සියබලා වැහැර': 'Siyabala Wehera',
    'බතලගොඩ වැව පාර': 'Bathalagoda Lake Road',
    '15 කනුව': '15th Mile Post',
    'කලුගමුව': 'Kalugamuwa',
    'මුදුන්දුව': 'Mudunduwa',
    'කිබුල්වානා වැව පාර': 'Kibulwana Lake Road',
    'වල්පොල': 'Walpola',
    'උඩතම්මිට': 'Udatammita',
    'කරව්වැව': 'Karavwewa'
}

# Map the values in the Area_accident_occured column
data['Area_accident_occured'] = data['Area_accident_occured'].map(area_mapping)

In [61]:
data['Area_accident_occured'].unique()

array(['Ipalawa', nan, 'Godagama', 'Gokarella', 'Yakkalla',
       '15th Mile Post', 'Meddekatiya', 'Ibbagamuwa', 'Pannala',
       'Rathwita', '13th Mile Post', 'Karadagolla Junction',
       'Near Deduru Oya Bridge', 'Near Kudambe Bridge',
       'Near Miwewa Temple', 'Namallanga', 'Thalgodapitiya', 'Polgolla',
       'Dehelgamuwa', 'Walpola Road', 'Ambanpola', 'Palakubura',
       'Bakmigolla', 'Balawathtala', 'Udawela', 'Ranawirugama Road',
       'Gopallawa Road', 'Madagalla Road', 'Siyabala Wehera',
       'Bathalagoda Lake Road', 'Kalugamuwa', 'Mudunduwa',
       'Kibulwana Lake Road', 'Walpola', 'Udatammita', 'Karavwewa'],
      dtype=object)

In [62]:
# Display unique values for all columns
for column in numerical_cols + categorical_cols:
    if column in data.columns:
        print(f"Unique values for '{column}': {data[column].unique()}\n")
    else:
        print(f"Column '{column}' not found in the dataset.\n")

Unique values for 'Accident_index': [  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.
  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.  28.
  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.  42.
  43.  44.  45.  46.  47.  48.  49.  50.  51.  52.  53.  54.  55.  56.
  57.  58.  59.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.  70.
  71.  72.  73.  74.  75.  76.  77.  78.  79.  80.  81.  82.  83.  84.
  85.  86.  87.  88.  89.  90.  91.  92.  93.  94.  95.  96.  97.  98.
  99. 100.]

Unique values for 'Age_of_driver': [41 46 18 30 24 25 20 53 31 43 48 44 23 47 35 29 45 55 39 32 26 28 27 21
 67 36 19 54 59 42 69 38 52 49 34 56 22 37 40 57 51 16 75 62 33 15 58 64
 70 60]

Unique values for 'Service_year_of_vehicle': [2015. 2016. 2018. 2008. 2010. 2007. 1992. 2012. 2019. 2020. 2017. 1988.
 2009. 2000. 2005. 1990. 1993. 2013. 2014. 2011. 1998. 2006. 1978. 1997.
 1994. 1996. 1970.   nan]

Unique values for 'Number_of_vehicles_involved': [3. 2. 1.]

Unique values for 'Date': ["2022'01'01" '2022.01.01 ' '2022.01.03' '2022.01.09 ' '2022.01.12'
 '2022.01.13' '2022.01.17' '2022.01.22 ' '2022.01.23' '2022.01.24'
 '2022.01.25' '2022.01.30' "2022'01'31" '2022.02.04' '2022.02.11'
 '2022.02.15' '2022.02.22' '2022.02.23' '2022.02.24' '2022.02.25'
 '2022.02.27' '2022.03.06' '2022.03.25' '2022.03.07' '2022.03.13'
 '2022.03.14' '2022.03.20' '2022.03.21' '2022.03.23' '2022.03.29'
 '2022.03.26' '2022.03.31' '2022.04.02' '2022.04.08' '2022.04.11'
 '2022.04.10' '2022.04.19' '2022.05.02' '2022.05.05' '2022.05.6'
 '2022.05.06' '2022.05.15' '2022.05.29' '2022.06.05' '2022.06.06'
 '2022.06.02' '2022.06.03' '2022.06.02.' '2022.06.16' '2022.06.15'
 '2022.06.20' '2022.06.25' '2022.06.29' '2022.08.01' '2022.08.06'
 '2022.08.08' '2022.08.10' '2022.08.16' '2022.08.17' '2022.08.18'
 '2022.08.20' '2022.08.26' '2022.08.29' '2022.08.30' '2022.09.03'
 '2022.09.05' '2022.09.12' '2022.09.21' '2022.09.23' '2022.10.04'
 '2022.10.10' '2022.10.12' '2022.10.25' '2022.11.12' '2022.11.15'
 '2022.11.22' '2022.11.25' '2022.11.28' '2022.12.01' '2022.12.05'
 '2022.12.11' '2022.12.12' '2022.12.17' '2022.12.22' '2022.12.29'
 '2022.12.30' '2023.01.01' '2023.01.11' '2023.01.13' '2023.01.15'
 '2023.01.16' '2023.02.01' '2023.02.4' '2023.02.05' '2023.02.13'
 '2023.02.18' '2023.02.17' '2023.02.19' '2023.02.22' '2023.02.25'
 '2023.03.02' '2023.03.03' '2023.03.05' '2023.03.07' '2023.03.10'
 '2023.03.11' '2023.03.13' '2023.03.14' '2023.03.15' '2023.03.24'
 '2023.03.27' '2023.04.02' '2023.04.09' '2023.04.13' '2023.04.15'
 '2023.04.16' '2023.04.21' '2023.04.30' '2023.05.08' '2023.05.18'
 '2023.05.22' '2023.05.23' '2023.05.21' '2023.05.29' '2023.05.31'
 '2023.06.01' '2023.06.03' '2023.06.12' '2023.06.14' '2023.06.21'
 '2023.06.23' '2023.06.28' '2023.06.29.' '2023.06.29' '2023.06.30'
 '2023.07.04' '2023.07.13' '2023.07.16' '2023.07.22' '2023.07.25'
 '2023.08.01' '2023.08.07' '2023.08.08' '2023.08.22' '2023.08.25'
 '2023.09.03' '2023.09.08' '2023.09.14' '2023.09.22' '2023.09.26'
 '2023.09.27' '2023.09.28' '2023.09.30' '2023.10.08.' '2023.10.13'
 '2023.10.14' '2023.10.22' '2023.10.23' '2023.10.28' '2023.11.05'
 '2023.11.09' '2023.11.06' '2023.11.14' '2023.11.18' '2023.11.25'
 '2023.11.27' '2023.11.29' '2023.12.06' '2023.12.11' '2023.12.25'
 '2023.12.28']

Unique values for 'Day_of_week': ['Saturday' 'Monday' 'Sunday' 'wednesday' 'Tuesday' 'Friday' 'Wednesday']

Unique values for 'Time': [600 1210 1720 1710 1530 620 1630 2315 2339 2210 1815 1610 1230 2045 1745
 1830 1619 1750 1455 1430 1620 1300 1400 2330 420 745 2130 450 350 30 1050
 1715 100 1730 1700 1100 1925 1330 1445 1850 1945 1930 2000 1900 800 1025
 400 141 '18/10' '13/30' '20/05' '18/45' '19/10' '21/45' '17/30'
 datetime.datetime(1901, 6, 28, 0, 0) 1820 1615 520 1200 2015 1345 1605
 1805 2105 2010 1420 2040 1335 1650 1225 2400 1130 2050 2020 510 1145 1840
 1415 '00/40' datetime.datetime(2012, 7, 10, 0, 0)
 datetime.datetime(2000, 8, 1, 0, 0) 1520 1000 1940 1525 2030 1755 2215
 1800 1350 942 1510 730 200 345 1600 1845 120 640 810 1015 715 1950 2150
 1935 1410 930 1030 2230 2335 820 1910 2310 700 1135 1543 1020 1810 1855
 1435 2115 1245 2250 515 215 1500 1645]

Unique values for 'Accident_severity': ['Serious' 'Minor Injuries' 'Fatal' 'Damaged']

Unique values for 'Sex_of_driver': ['Male']

Unique values for 'Consumption': ['No' 'Yes']

Unique values for 'Helmet_Usage': ['No' 'Yes']

Unique values for 'Licensing_and_enforcement': ['Yes' 'No']

Unique values for 'Driving_experience': ['2-5' nan '1-6' '1-20' '1-10' '2-7' '10-15' '10-20' '2-10' '2-8' '1-3'
 '5-20' '1' '4' '2' '0-1' '0' '5-30']

Unique values for 'Type_of_vehicle': ['lorry' 'Three wheel' 'Moter bike' 'car' 'Tipper' 'Van' 'Bus' 'Bowser'
 'Container']

Unique values for 'Vehical_driver_relation': ['Employee' 'Owner' 'other']

Unique values for 'Vehicle_Age_and_Maintenance': [ 7  8  4 14 12 15 30  3  6  5 36 24 16 19 34  9 31 11 10 13 26 18 46 17
 27 28 54]

Unique values for 'Area_accident_occured': ['Ipalawa' nan 'Godagama' 'Gokarella' 'Yakkalla' '15th Mile Post'
 'Meddekatiya' 'Ibbagamuwa' 'Pannala' 'Rathwita' '13th Mile Post'
 'Karadagolla Junction' 'Near Deduru Oya Bridge' 'Near Kudambe Bridge'
 'Near Miwewa Temple' 'Namallanga' 'Thalgodapitiya' 'Polgolla'
 'Dehelgamuwa' 'Walpola Road' 'Ambanpola' 'Palakubura' 'Bakmigolla'
 'Balawathtala' 'Udawela' 'Ranawirugama Road' 'Gopallawa Road'
 'Madagalla Road' 'Siyabala Wehera' 'Bathalagoda Lake Road' 'Kalugamuwa'
 'Mudunduwa' 'Kibulwana Lake Road' 'Walpola' 'Udatammita' 'Karavwewa']

Unique values for 'Lanes_or_Medians': ['Two-way' 'Undivided']

Unique values for 'Types_of_Junction': ['No' nan 'Yes']

Unique values for 'Road_surface_conditions': ['Dry' 'Wet' 'Flooded with water']

Unique values for 'Light_condition': ['Daylight' 'No Street Light' 'Good Street Light']

Unique values for 'Weather_condition': ['unknown' 'rainy']

Unique values for 'Type_of_collision': ['Vehicle with vehicle collision' 'Rollover' 'Collision with pedestrians']

Unique values for 'Head_On_collision': ['Back bump' 'Heavy to the right' 'Face to face' 'Turning' 'Overturning'
 'Going off the road' 'Turning right' 'Walking on the footboard']

Unique values for 'Vehicle_movement': ['Going straight' 'winding' 'Right Heavily' 'Left Heavily']

Unique values for 'Number_of_persons_injured': [ 2.  1. nan  0.  3.  6. 14.]

Unique values for 'Number_of_persons_killed ': [nan 0 1 'Have']

Unique values for 'Casualty_class': ['Driver and passengers' 'Driver' 'motorcyclist' 'Passenger' 'Pedestrian'
 'damage' 'Driver Assistant' 'Yes' 'No']

Unique values for 'Pre_crash_factors ': ['unknown']

Unique values for 'Cause_of_accident': ['negligence']

Unique values for 'Pedestrian_movement': ['Not a pedestrian' 'other' 'a pedestrian' 'woman']

In [63]:
from google.colab import files
data.to_csv('modified_dataset.csv', encoding='utf-8', index=False)  # Specify encoding
files.download('modified_dataset.csv')

In [64]:
# Convert the DataFrame to an Excel file
data.to_excel('modified_dataset.xlsx', index=False)

# Download the Excel file
files.download('modified_dataset.xlsx')